@import '../../Styles/variables.scss';


.wrapTableTitre {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p,h2{

        margin: 0px 0px;
    }

    h2{
        color: $primary ;
    }

}